### Libraries

In [10]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

### Importing the data set using Web Scrapping

In [11]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')
toronto_table = soup.find('table',{'class':"wikitable"})

In [12]:
column_names = ['PostalCode', 'Borough', 'Neighborhood']

In [13]:
df = pd.read_html(str(toronto_table))
# convert list to dataframe
df = pd.DataFrame(df[0])
df.columns = column_names
df.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

### Cleaning the Data Set

In [14]:
df = df[df.Borough!='Not assigned']

for i in range(0, df.shape[0]):
    if df.iloc[i][2] == 'Not assigned':
        df.iloc[i][2] = df.iloc[i][1]
        i = i+1

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 2 to 178
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PostalCode    103 non-null    object
 1   Borough       103 non-null    object
 2   Neighborhood  103 non-null    object
dtypes: object(3)
memory usage: 3.2+ KB

In [16]:
df.describe()

       PostalCode     Borough Neighborhood
count         103         103          103
unique        103          10           99
top           M8V  North York    Downsview
freq            1          24            4

In [17]:
df.to_csv('toronto.csv', index=False)

## Dataset Shape

In [18]:
df.shape

(103, 3)